:root
{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);  
}
*
{
    margin: 0;
    padding: 0;
    font-family: "Red Hat Display",sans-serif;
}
html
{
    height: 100%;
}
body
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
}
.container
{
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    border: 0px solid;
    border-radius: 20px;
    text-align: center;
}

.mainimg
{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.maincontent
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding:0px 10px 0px 10px;
}
.text
{
    padding-top: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainh
{
    color: var(--Dark-blue);
    font-size: 25px;
    font-weight: 900px;
    letter-spacing: -1px;
    padding-bottom: 12px;
}

.info
{
    padding-bottom: 23px;
    width: 89%;
    line-height: 29px;
    font-size: 16px;
    font-weight: 700;
    color: var(--Desaturated-blue);
}

.paymentplaninfo
{
    background-color: var(--Very-pale-blue);
    border: 0px solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 95%;
    height: auto;
}
.musicicon
{
    grid-row: span 2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    padding: 15px 0px 15px 0px;
}
.plan 
{
    grid-row: 1;
    grid-column: 2;
    justify-self: self-start;
    align-self:self-end;
    padding-bottom: 2px;
    font-weight: 900;
}
.price
{
    grid-row: 2;
    grid-column: 2;
    justify-self: self-start;
    align-self: self-start;
    padding-top: 2px;
    color: var(--Desaturated-blue);
    font-weight: 700;
}
.changelnk
{
    grid-row: span 2;
    grid-column: 3;
    justify-self: center;
    align-self: center;
    padding-left: 15px;
    font-weight: 900;
    color: var(--Bright-blue);
}
.changelnk:link 
{ 
    text-decoration: none; 
}
.changelnk:hover
{
    opacity: 50%;
}
.buttons
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    padding: 20px 0px 20px;
}
.paymentbutton, .orderbutton
{
    padding: 20px 0px 20px;
    border: 0px solid;
    border-radius: 10px;
}
.paymentbutton
{
    background-color: var(--Bright-blue);
    color: white;
    font-weight: 900;
    box-shadow: 0px 7px 30px hsl(245, 75%, 52%,0.4);
}
.paymentbutton:hover
{
    opacity: 50%;
}
.orderbutton
{
    font-size: 16px;
    font-weight: 900;
    color: var(--Desaturated-blue);
    background-color:transparent; 
}
.orderbutton:hover
{
    color: black;
}

@media (width > 376px)
{
    .body
    {
        background-size: 100%;
        background-size: contain;
    }
    .container
    {
        width: 370px;
    }
}